
table {
  border: var(--std-lborder);
  font-size: var(--small-font-size);
  overflow-x: auto;
  width: 100%;

  @media screen and (min-width: 901px) {
    font-size: var(--default-font-size);
  }

  th {
    background-color: var(--gray-30);
    border: 0;
    border-bottom: var(--std-lborder);
  }

  td {
    background-color: var(--gray-10);
    border: 0;
    border-bottom: var(--std-lborder);
  }

  th,
  td {
    border-left: var(--std-lborder);
    padding: calc(var(--base-spacing) / 2);
    text-align: left;

    &:first-child {
      border-left: 0;
      min-width: 150px;

      @media screen and (min-width: 1281px) {
        min-width: 200px;
      }
    }
  }

  tr:last-child td {
    border-bottom: 0;
  }

  pre {
    background-color: var(--gray-30);
  }

  caption {
    @include heading-5();
    @include headings-common-base();
    font-weight: bold;
    margin-bottom: calc(var(--base-spacing) / 2);
  }
}

/*
 * Standard table styles. For an example see:
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#Events
 */
table,
.properties {
  border-collapse: collapse;
  margin-bottom: var(--base-spacing);

  code {
    background-color: transparent;
    hyphens: auto;
  }
}
